@charset "utf-8";
/* -----------------------------------------------------------

   #topImg

   ----------------------------------------------------------- */
#topImg { min-height: 100vh;width: 100%; z-index: 2; position: relative ; overflow: hidden;}
/* ----- .catchArea ----- */ 
#topImg .catchArea{ position: absolute; width: 100%; min-width: 100%; top:50%; left:50%; display: inline-block; z-index:999; -webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%); text-align:center; /*margin-top: 15px;*/}
#topImg .catchArea h1 { color : #fff; font-family: 'Roboto', sans-serif; font-weight:900; letter-spacing: 14px; line-height: 56px; font-size: 46px; }
#topImg .catchArea h1.glitch_txt { width : 100%; }
#topImg .catchArea h1.glitch_txt:after,
#topImg .catchArea h1.glitch_txt:before { content: attr(data-text); position: absolute; width: 100%; top: 0; color: black; background: transparent; overflow: hidden; clip: rect(0, 900px, 0, 0); ;}
#topImg .catchArea h1.glitch_txt:before { left: -1px; text-shadow: 1px 0 black; animation: noise-anim-2 3s infinite linear alternate-reverse; }
#topImg .catchArea h1.glitch_txt:after { left: 1px; text-shadow: -1px 0 gray; animation: noise-anim 3s infinite linear alternate-reverse; }
#topImg .catchArea p { color : white; font-family: 'Roboto', sans-serif; font-weight:900; letter-spacing: 2px; line-height: 32px; font-size: 14px; padding-top: 10px; }
#topImg .catchArea p span { letter-spacing: 2px; line-height: 18px; font-size: 9px; }
/* ----- .catchBottomArea ----- */ 
#topImg .catchBottomArea { position: absolute; bottom: 0; right: 0; left: 0; text-align: center; z-index: 9999; }
#topImg .catchBottomArea h2 { font-size: 11px; font-family: 'Roboto', sans-serif; font-weight:900; letter-spacing: 10px; line-height: 50px; padding-left: 10px; }
/* ----- .arrowArea ----- */ 
#topImg .arrowArea { position: absolute; bottom: 86px; right: 50%; margin-left: -15px; z-index: 2; }
#topImg .arrowArea span { position: absolute; top: 0; left: 50%; width: 26px; height: 46px; margin-left: -13px; border: 1px solid #fff; border-radius: 50px; box-sizing: border-box; }
#topImg .arrowArea span::before { position: absolute; top: 10px; left: 50%; content: ''; width: 4px; height: 4px; margin-left: -2px; background-color: #fff; border-radius: 100%; -webkit-animation: sdb 2s infinite; animation: sdb 2s infinite; box-sizing: border-box; }
/* ----- .img ----- */ 
#topImg .img { position: absolute; min-width: 100%;width : 100%; top: 0; left: 0; bottom: 0; right: 0; background-size: cover; z-index: -1; overflow: hidden; }
/* ----- .glitch-img ----- */ 
#topImg .glitch-img { position: absolute; width : 100%; height : 100%; top: 0 ; left : 0; background-image: url(../images/index/original-2.gif); background-position:center; -moz-background-size:cover;-o-background-size:cover;-webkit-background-size:cover;background-size:cover; } 

@media only screen and (max-width: 800px) {
#topImg { min-height: 100%; }
/* .catchArea */
#topImg .catchArea h1 { letter-spacing: 14px; line-height: 52px; font-size: 42px;}
/* ----- .img ----- */ 
#topImg .img { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-size: cover; z-index: -1;}
}

@media only screen and (max-width: 738px) {
/* .catchArea */
#topImg .catchArea{ position: absolute; width: 80%; min-width: 80%; }
#topImg .catchArea h1 { letter-spacing: 14px; line-height: 52px; font-size: 42px; }
#topImg .catchArea p {  letter-spacing: 2px; line-height: 32px; font-size: 14px; padding-top: 10px; }
#topImg .catchArea p span { letter-spacing: 2px; line-height: 18px; font-size: 9px; }
/* ----- .arrowArea ----- */ 
#topImg .arrowArea { position: absolute; bottom: 100px; right: 50%; z-index: 1; }
#topImg .arrowArea span { position: absolute; top: 0px; left: 50%; }
}

@media only screen and (max-width: 414px) {
#topImg .catchArea h1 { letter-spacing: 12px; line-height: 46px; font-size: 36px; }
#topImg .catchArea p {  letter-spacing: 2px; line-height: 30px; font-size: 13px; padding-top: 12px; }
#topImg .catchArea p span { letter-spacing: 1px; line-height: 18px; font-size: 8px; }
}

/* -----------------------------------------------------------

   #works

   ----------------------------------------------------------- */
      
#works { padding: 80px 0 60px; text-align:center; background:#fefefe;}
@media only screen and (max-width: 800px) { 
#works { padding: 80px 0 60px; }
}
@media only screen and (max-width: 738px) { 
#works { padding: 60px 0 ; }
}
@media only screen and (max-width: 414px) { 
#works { padding: 60px 0 ; }
}

/* --- h3 --- */
#works h3 { font-size:22px; font-family: 'Roboto Condensed', sans-serif; font-weight:700; letter-spacing: 8px; line-height:1.2; padding-left: 8px; }
#works h3 br.spblock { display:none; }
#works h3 span.fontS { font-size: 20px; letter-spacing: 12px; }
@media only screen and (max-width: 800px) { 
#works h3 { font-size: 22px; margin-bottom: 20px;}
#works h3 span.fontS { font-size: 18px; }
}
@media only screen and (max-width: 738px) { 
#works h3 { font-size: 20px; letter-spacing: 6px; line-height: 1.2; text-align: center; margin-bottom: 30px; }
#works h3 br.spblock { display:block; }
#works h3 span.fontS { font-size: 16px; letter-spacing: 12px; }
}
@media only screen and (max-width: 414px) { 
#works h3 { font-size: 20px; text-align: center; margin-bottom: 30px; }
#works h3 span.fontS { font-size: 13px; letter-spacing: 10px; }
}

/* -----------------------------------------------------------

   .controlArea

   ----------------------------------------------------------- */
 
.controlArea fieldset { border:none;}
   
.controlArea { font-size: 0; margin: 15px 0; text-align: left; }
/* .controlBox */
.controlArea .controlBox { display: inline-block; margin: 35px 2% 0; width: 46%; position: relative; z-index: 2; }
.controlArea .controlBox label { display: block; font-size: 14px; font-weight: bold; letter-spacing: 1px; line-height: 1; margin-bottom: 15px; }
.controlArea .controlBox button { display: inline-block; border: #ddd 1px solid; background: #fefefe; margin: -1px 0 0 -1px; width: 33.333%; font-size: 13px; font-weight: 500; line-height: 35px; letter-spacing: 1px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.controlArea .controlBox button.active { color: #fefefe; background: #7eccd6; }
.controlArea .controlBox button:hover { color: #fefefe; background: #7eccd6; }
/* .areaBox */
.controlArea .areaBox { width: 76.666%; }
.controlArea .areaBox button { width: auto; margin: 3px; padding: 0 15px; color: #111; background: #fefefe; border: #ddd 1px solid; font-size: 12px; line-height: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.controlArea .areaBox button.active { border: #7eccd6 1px solid; }
/*clearBox*/
.controlArea .clearBox { width: 15.333%; }
.controlArea .clearBox button { display: block; margin: -1px 0 0 -1px; width: 100%; color: #fefefe; background:#111;border: #111 1px solid; }
.controlArea .clearBox button.active { border: #ddd 1px solid;}
.controlArea .clearBox button:hover { border: #ddd 1px solid;}

@media only screen and (max-width: 800px) {
.controlArea .controlBox button { font-size: 12px;}
.controlArea .controlBox button:hover { color: #111; background: none; }
.controlArea .controlBox button.active:hover { color: #fefefe; background: #7eccd6; }
.controlArea .areaBox button.active:hover { border: #7eccd6 1px solid; }
}

@media only screen and (max-width: 738px) {
.controlArea .controlBox { margin: 35px 2% 0; width: 96%; }
.controlArea .controlBox label { font-size: 12px; text-align:center; margin-bottom: 15px; }
.controlArea .controlBox button { margin: -1px 0 0 -1px; font-size: 11px; letter-spacing: 0.5px; }
.controlArea .areaBox button { width: auto; margin: 3px; padding: 0 10px; font-size: 11px; line-height: 30px; }
.controlArea .clearBox button { display: block; margin: 3px auto;width:200px; max-width: 100%; color: #fefefe; background:#111;border: #111 1px solid;line-height: 45px; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px;}
.controlArea .clearBox button.active { color: #fefefe; background:#111;border: #111 1px solid;}
.controlArea .clearBox button:hover { color: #fefefe; background:#111;border: #111 1px solid;}
}

/* -----------------------------------------------------------

   .worksArea

   ----------------------------------------------------------- */

.worksArea { width: 100%; margin: 0 0 90px -1.5%; font-size: 0; -webkit-backface-visibility: hidden; text-align: center;/*text-align:justify;*/ text-align: left; line-height:0;}

.worksArea .mix,
.worksArea .gap { display: inline-block; margin: 70px 0 0 4%; padding:0; width: 29%; }
#container .mix { display: none; }
/* --- .imgArea --- */
.worksArea .imgArea { overflow: hidden; position: relative; z-index: 1; background: url(../images/common/noise.gif) center center no-repeat; background-size: cover; }
.worksArea .imgArea:before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; content: ""; z-index: 5; opacity: 0; -webkit-transition: all 0.7s ease; -moz-transition: all 0.7s ease; -o-transition: all 0.7s ease; transition: all 0.7s ease; }
.worksArea .imgArea:hover:before { content: ""; background:#000; opacity: 0.6; }
.worksArea .imgArea img { mix-blend-mode: hard-light; -webkit-transition: all 0.7s ease; -moz-transition: all 0.7s ease; -o-transition: all 0.7s ease; transition: all 0.7s ease; opacity: 0.9; }
.worksArea .imgArea:hover img { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); opacity: 1; }
/* span.plus */
.worksArea .imgArea span.plus { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 50px; height: 50px; z-index: 6; overflow: hidden; text-indent: -999px; }
.worksArea .imgArea span.plus:before { position: absolute; top: 50%; left: 50%; margin-left: -25px; border-bottom: transparent 1px solid; width: 0px; height: 0; content: ""; }
.worksArea .imgArea span.plus:after { position: absolute; top: 50%; left: 50%; margin-top: -25px; border-right: transparent 1px solid; height: 0; content: ""; }
.worksArea .imgArea span.plus:before,
.worksArea .imgArea span.plus:after { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.worksArea .imgArea:hover span.plus:before { border-bottom: #fff 1px solid; width: 50px; }
.worksArea .imgArea:hover span.plus:after { border-right: #fff 1px solid; height: 50px; }
/* --- .txtArea --- */
.worksArea .txtArea { text-align: center; }
.worksArea .txtArea h4 { font-family: 'Roboto', sans-serif; font-weight:500; font-size: 16px; letter-spacing: 2px; line-height: 1.7; margin-top: -5px; position: relative; z-index: 4; margin-top:15px; }
.worksArea .txtArea p { font-family: 'Roboto Condensed', sans-serif; font-weight:400; font-size: 10px; letter-spacing: 1px; line-height: 1.7; margin-top: -5px; position: relative; z-index: 4; margin-top:15px; }
.worksArea .txtArea p.no { display: block; width: 50px; height: 50px; margin: -25px auto 0; background: #fefefe; font-size: 14px; /*font-family: 'Catamaran', sans-serif;*/ font-weight: 700; line-height: 50px; letter-spacing: 1px; position: relative; z-index: 3; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.worksArea .txtArea p.no:after { position: absolute; top: -5px; left: -5px; right: -5px; bottom: -5px; content: ""; border: #fefefe 1px solid; z-index: -1; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }



@media only screen and (max-width: 800px) {
.worksArea { margin: 0 0 90px -1.5%;}
.worksArea .mix,
.worksArea .gap { display: inline-block; margin: 60px 0 0 5%; width: 44%;}
/* --- .imgArea --- */
.worksArea .imgArea { overflow: hidden; position: relative; z-index: 1; }
.worksArea .imgArea:before { display:none; }
.worksArea .imgArea:hover img { -webkit-transform: scale(1,1); -moz-transform: scale(1,1); -o-transform: scale(1,1); -ms-transform: scale(1,1); transform: scale(1,1); }
.worksArea .imgArea span.plus { display:none; }
}

@media only screen and (max-width: 738px) {
.worksArea .mix,
.worksArea .gap { margin: 40px 0 0 5%;width: 44%; }	

.worksArea .txtArea p.no { width: 40px; height: 40px; margin: -20px auto 0;font-size: 12px; line-height: 40px; }
	
}

@media only screen and (max-width: 414px) {
.worksArea { margin: 10px 0 0; }
.worksArea .mix,
.worksArea .gap { margin: 30px 0; width: 100%;}	
.worksArea .txtArea { padding:0 2.5%; }
.worksArea .txtArea h4 { font-size: 16px; letter-spacing: 3px; line-height: 1.7; margin-top: -5px; position: relative; z-index: 4; margin-top:15px; }
}

 /* -----------------------------------------------------------

   #about

   ----------------------------------------------------------- */

#about { background: url(../images/common/noise_bg.gif) center center repeat; padding: 70px 5% 60px; position: relative; z-index: 1; text-align: center; }
#about h3 { color: white; font-size:22px; font-family: 'Roboto Condensed', sans-serif; font-weight:700; letter-spacing: 8px; line-height:1.2; padding-left: 8px; }

/* --- .nameArea --- */
#about .nameArea { margin: 0; position: relative; z-index: 2; }

/* --- .inner --- */
#about .nameArea .inner { padding:40px 5%; color: white; }
/* .imgArea */
#about .nameArea .imgArea { margin: 0 auto 30px; position:relative; z-index:1; }
#about .nameArea .imgArea h4 { font-size: 26px; font-family: 'Droid Serif', serif; font-weight:normal; letter-spacing: 4px; line-height: 1.6; text-align:center; padding:5px 0 10px 0; position:relative; z-index:2;  }
#about .nameArea .imgArea p { text-align: center; font-size: 11px; line-height: 2.4; letter-spacing: 2px; }
/* .txtArea */
#about .nameArea .txtArea { margin: 0 auto; text-align:center;}
#about .nameArea .txtArea .txtBox { width: 100% }
#about .nameArea .txtArea p {font-size: 12px; line-height: 2.8; letter-spacing: 4px;}
#about .nameArea .txtArea p br.pcblock { display:block; }


@media only screen and (max-width: 800px) { 
#about { padding: 60px 5% 50px;}
#about h3 { margin: 0 auto; font-size: 20px;}

/* --- .inner --- */
#about .nameArea .inner { padding:60px 5%; }
/* .txtArea */
#about .nameArea .txtArea { text-align:left;}
#about .nameArea .txtArea p {font-size: 12px; line-height: 2.8; letter-spacing: 4px;}
#about .nameArea .txtArea p br.pcblock { display:none; }
}
@media only screen and (max-width: 738px) { 
#about { padding: 60px 5% 60px;}
#about h3 { font-size: 20px; letter-spacing: 6px; line-height: 1.2; text-align: center; margin-bottom: 20px; }

/* --- .inner --- */
#about .nameArea .inner { padding:20px 5% 30px; }
/* .imgArea */
#about .nameArea .imgArea { float:none; margin:0 auto; }
/* .txtArea */
#about .nameArea .txtArea {  float:none; width:100%; margin-top:40px; }
#about .nameArea .txtArea .txtBox { max-width:1000px; }
#about .nameArea .txtArea h4 { font-size: 20px; }
#about .nameArea .txtArea p {font-size: 12px; line-height: 2.8; letter-spacing: 4px;}

}

@media only screen and (max-width: 414px) { 
#about { padding: 50px 5% 50px;}
#about h3 { font-size: 20px; text-align: center; margin-bottom: 20px; }
#about .nameArea .imgArea h4 { font-size: 23px; letter-spacing: 2px; line-height: 1.6;  }
/* --- .nameArea --- */
#about .nameArea { margin: 20px 0 0; }
#about .nameArea .txtArea p {font-size: 11px; line-height: 2.8; letter-spacing: 4px;}
}


/* -----------------------------------------------------------

   keyframes

   ----------------------------------------------------------- */
@-webkit-keyframes sdb {
0% {
-webkit-transform: translate(0, 0);
opacity: 0;
}
40% {
opacity: 1;
}
80% {
-webkit-transform: translate(0, 20px);
opacity: 0;
}
100% {
opacity: 0;
}
}
@keyframes sdb {
0% {
transform: translate(0, 0);
opacity: 0;
}
40% {
opacity: 1;
}
80% {
transform: translate(0, 20px);
opacity: 0;
}
100% {
 opacity: 0;
}
}
@keyframes noise-anim {
0% {
clip: rect(75px, 9999px, 66px, 0);
}
10% {
clip: rect(54px, 9999px, 72px, 0);
}
20% {
clip: rect(87px, 9999px, 48px, 0);
}
30% {
clip: rect(96px, 9999px, 59px, 0);
}
40% {
clip: rect(20px, 9999px, 51px, 0);
}
50% {
clip: rect(33px, 9999px, 8px, 0);
}
60% {
clip: rect(34px, 9999px, 49px, 0);
}
70% {
clip: rect(90px, 9999px, 5px, 0);
}
80% {
clip: rect(59px, 9999px, 19px, 0);
}
90% {
clip: rect(95px, 9999px, 29px, 0);
}
100% {
clip: rect(4px, 9999px, 44px, 0);
}
}
@keyframes noise-anim-2 {
0% {
clip: rect(61px, 9999px, 46px, 0);
}
10% {
clip: rect(71px, 9999px, 12px, 0);
}
20% {
clip: rect(41px, 9999px, 50px, 0);
}
30% {
clip: rect(61px, 9999px, 9px, 0);
}
40% {
clip: rect(6px, 9999px, 56px, 0);
}
50% {
clip: rect(90px, 9999px, 14px, 0);
}
60% {
clip: rect(25px, 9999px, 33px, 0);
}
70% {
clip: rect(7px, 9999px, 27px, 0);
}
80% {
clip: rect(8px, 9999px, 84px, 0);
}
90% {
clip: rect(100px, 9999px, 92px, 0);
}
100% {
clip: rect(63px, 9999px, 58px, 0);
}
}